body{
    background-color:black;
    
}
.titulo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    background-color: #fa2b43;
    color: white;
    text-align: center;

}
.wrap{
    display: flex;
    flex-direction: column;  

}
.buttonArea{
    flex: 1;
    display: flex;
    flex-direction: row ;
    
}
.but{
    flex: 1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
}
.data{
    flex: 1;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#map{
    flex:1;
    min-height: 400px;
    
}