html,body{
    height: 100%;
    margin: 0;}
body{
    background-color:rgba(56, 54, 54, 0.992);
    margin: 1vw;
}
.wrap{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap:20px;

}
.titulo{
    flex: 0 1 auto;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    background-color: #fa2b43;
    color: white;
    text-align: center;
    
    
}

.buttonContainer{
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.but{
    flex: 1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    border-radius: 25px;
}
.mapcontainer{
    flex: 1 1 auto;
}
#map{
    height: 100%;
    min-height: 600px;
    border-radius: 15px;
    margin-bottom: 0 ;
}
footer{
    flex: 0 1 40px;
}