body{
    background-color:rgba(56, 54, 54, 0.992);
    
}
.titulo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    background-color: #fa2b43;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
.wrap{
    display: flex;
    flex-direction: column;
    column-span: 5px;  
    gap: 10px;

}
.buttonArea{
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.but{
    flex: 1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    border-radius: 25px;
    
}
.data{
    flex: 1;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#map{
    flex:1;
    min-height: 400px;
    border-radius: 15px;
    
    
    
}